*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  outline: auto;
}

body {
  min-height: 100dvh;
  width: 100%;
}
main {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 4fr 4fr 3fr;
  /* grid-auto-flow: row; */
  gap: 0 10px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.index {
  grid-row: span 5;
}
.seperator {
  padding: 10px 10px 0;
  height: 100%;
  width: 100%;
}
.text-box {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: lightgray;
}
/* .heading {
  display: flex;
}
.heading h1,
.heading h3 {
  margin: 0;
} */
.index-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.index-individual {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}
.topic-heading,
.topic-page-no {
  font-weight: bold;
  font-size: 10px;
}
.topic-description {
  font-size: 8px;
}

.place-1 {
  grid-row: span 3;
}
.place-1 .img-container {
  height: 100%;
  width: 100%;
}

aside {
  grid-row: span 7;
}
.place-2 {
  grid-row: span 2;
}
.place-3 {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-3 .img-container {
  flex: 4;
  height: 100%;
  width: 100%;
}
.text-area {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.place-4 {
  grid-row: span 2;
}
